#about-section{
  display: flex;
width:100%;
justify-content: center;


margin-top: 8rem;
margin-bottom: 8rem;

animation:appear linear;
animation-timeline:view();
animation-range:entry 0% cover 40%;




  .about-section-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
  
    width:90vw;
    height:fit-content;
    color:white;


    .about-section-img-container{
      width: 100vw;
      height: 100vh;

      
      .about-section-img{
        max-width: 100vw;
        height: 100vh;
        object-fit: contain;

        border-top-right-radius: 6.25rem;
        border-bottom-right-radius: 6.25rem;
      }
    }
    
    
    .about-section-text{
      width:100vw;
      height:93.76vh;
      background-color: var(--secondary-brown);


      // font-size:var(--pc-regular-letter);

      padding: 1.5rem;
      border-top-left-radius: 6.25rem;
      border-bottom-left-radius: 6.25rem;


      .about-section-text-header{
        font-size: var(--ipad-pro-sub-big-header);
        font-weight: 700;
        margin-bottom: 2rem;
        direction: rtl;
        color:var(--primary-green);
      }

      .about-section-text-body{
        font-size: var(--ipad-pro-regular-letter);
        font-weight: 400;
        line-height: 1.5rem;
        direction: rtl;
        color:var(white);
      }
    }
  }


}