#issue-section{
  display: flex;
  position: relative;
  // flex-direction: column;
  justify-content: flex-start;

  align-items:left;
  


  margin-bottom: 8rem;

  width:80vw;
  height:fit-content;
  margin-top: -3rem;
  // padding: 1rem;

  animation:appear linear;
  animation-timeline:view();
  animation-range:entry 0% cover 40%;


  .issue-section-texts{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;


    width: 48vw;
    height: 45vh;


    // position: absolute;
    gap:5rem;

          left:35rem;
      top:1rem;

      
    
    
    
    .issue-section-textbox{
      display:flex;
      flex-direction:column;
      
      // position: absolute;
      direction: rtl;
      
      
      
      margin:0;  
      width:40vw;
      height:48vh;
      padding:2.4rem;
      // padding-right: 3.5rem;
      // padding-top: 1rem;
      // padding-bottom: 3.5rem;


      
      
      
      // left:52%;
      // top:18%;
      
      
      color:white;
      font-weight: 400;
      background: rgba(51, 102, 102, 0.897);
      
      border-radius: 6.25rem;
    }
    
    
    .issue-section-text{
      color:white;
      
      font-size:var(--pc-regular-letter) ;
      text-align: right;
    }
    
    .issue-section-textbox-header{
      color:var(--primary-pink);
      
      font-size:var(--pc-regular-big-letter);
      text-align: right;
      margin-bottom:-0.2rem;
      font-weight: 500;
    }
    
    
    
    .issue-section-textbox-2{
      display:flex;
      flex-direction:column;
      
      // position: absolute;
      direction: rtl;
      
      
      width:32vw;
      height:15vh;
      padding:1rem;
      // padding-top: 0.5rem;
      // padding-bottom: 0.1rem;
      
      
      
      left:12.5rem;
      // top:67%;
      
      
      color:white;
      
      background: rgba(51, 102, 102, 0.897);
      
      border-radius: 3.5rem;
    }
    
    
    .issue-section-text-2{
      color:var(--primary-pink);
      
      font-size:var(--pc-regular-big-letter);
      font-weight: 500;
      text-align: center;
    }
    
  }


  }
    
  .issue-section-img{
    display: flex;
    

   max-width:50vw;
    max-height:fit-content;
  }


  .issue-img{
    max-width:100%;
    max-height:100%;
    border-radius: 6.25rem;
    object-fit: contain;
    padding-bottom: 2rem;
  }
