html, body {
  margin: 0 ;
  padding: 0;
  height: fit-content;
  // width: 100%;
  // overflow: hidden;
}

body {
  font-family: var(--Rubik);
}


.app-main-layout{
  height: fit-content;
  width:100vw;
  background-color:rgb(253, 227, 217);
}