

:root{

  
  // fonts:
  --rubik:"Rubik", sans-serif;
  
  
  // Heebo:
  // font-family: "Heebo", sans-serif;

  // Valera Round:
  --Valera:"Varela Round", sans-serif;

  // Arimo:
  --Arimo:"Arimo", sans-serif;

  // Fredoka
  --Fredoka:"Fredoka", sans-serif;
  
  // colors:
  
  
  --primary-green:rgb(051, 102, 102);
  
  --primary-pink:rgb(255, 204, 204);
  
  
  --secondary-brown: rgb(173,140, 133);
}