

:root{

  
  //todo###################################### FONTS ##########################################

  // --rubik:"Rubik", sans-serif;
  
  
  // Heebo:
  // font-family: "Heebo", sans-serif;

  // Valera Round:
  // --Valera:"Varela Round", sans-serif;

  // Arimo:
  // --Arimo:"Arimo", sans-serif;

  // Fredoka
  --Fredoka:"Fredoka", sans-serif;
  
  //todo###################################### COLORS ##########################################
  
  
  --primary-green:rgb(051, 102, 102);
  
  --primary-pink:rgb(255, 204, 204);
  
  
  --secondary-brown: rgb(173,140, 133);






  
  //todo###################################### TEXT SIZES ##########################################
  
  //* PC/MONITOR// 
  
  --pc-main-header:2.8rem;
  --pc-sub-big-header:2rem;
  --pc-regular-big-letter:1.6rem;
  --pc-regular-letter:1.4rem;


    //* IPAD PRO // 
    --ipad-pro-main-header:2.5rem;
    --ipad-pro-sub-big-header:1.7rem;
    --ipad-pro-regular-big-letter:1.3rem;
    --ipad-pro-regular-letter:1.1rem;


        //* IPAD AIR //
        --ipad-air-main-header:2.4rem;
        --ipad-air-sub-big-header:1.6rem;
        --ipad-air-regular-big-letter:1.2rem;
        --ipad-air-regular-letter:1rem;


                //* MOBILE //
                --mobile-main-header:1.4rem;
                --mobile-sub-big-header:1.2rem;
                --mobile-regular-big-letter:1.1rem;
                --mobile-regular-letter:1rem;
}